@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;800;900&display=swap);
*::after,
*::content,*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
  outline: 2px dotted var(--green-color);
  outline-offset: 3px;
}
:root {
  /* COLOR */
  --sidebar-bg-color: #363740;
  --white-color: #ffffff;
  --green-color: #10cd45;
  --pale-grey-color: #eef2f5;
  --light-grey-color: #c5c7cd;
  --light-green-color: #00ca39;
  --pink-color: #e44067;
  --text-dark-color: #414141;
  --text-light-color: #a4a6b3;
  --text-black-color: #000000;
  --card-hover-bg-color: #3751ff;
  --dashbord-menu-hover-color: rgb(159, 162, 180 8%);
  --red-color: #f12b2c;
  --pale-green-color: #29cc97;
  --yellow-color: #fec400;
  --main-text-color: #252733;
  /* FONTS */
  --main-font: "Lato", sans-serif;
  --dashbord-menu-link-font: "Mulish", sans-serif;
  --dashbord-nav-border-bottom: #DFE0EB;
}


html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  font-size: 1.4rem;
  line-height: 1.42;
  font-weight: 600;
  font-family: var(--main-font);
  color: var(--main-text-color);
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;

}
img{
    display: flex;
    object-fit: cover;
}
a:hover {
  color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  
}
